<div class="container-fluid">
  <div class="row flex-nowrap">
    <div class="col-auto col-md-6 col-xl-2 px-sm-2 px-0 color-basic-footer">
      <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
        <br><br><br>
        <a href="/" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
          <img class="img-fluid" src="./assets/images/iconos-techno-navbar.png" alt="Icon">
        </a>
        <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
          <br><br>
          <li class="nav-item">
            <a href="" class="nav-link align-middle px-0" data-bs-toggle="modal" data-bs-target="#modalLoginForm">
              <h2 style="color:#104F60;"><span class="ms-1 d-none d-sm-inline">Realizar Orden de servicio</span></h2>
            </a>
          </li>
          <br>
          <li>
            <a href="#" class="nav-link px-0 align-middle">
              <h2 style="color:#104F60;"><span class="ms-1 d-none d-sm-inline">Bitacora</span></h2>
            </a>
          </li>
          <br>
          <li>
            <a href="#" class="nav-link px-0 align-middle">
              <h2 style="color:#104F60;"><span class="ms-1 d-none d-sm-inline">Biblioteca de Imagenes</span></h2>
            </a>
          </li>
          <br>
          <li>
            <a href="#" class="nav-link px-0 align-middle">
              <h2 style="color:#104F60;"><span class="ms-1 d-none d-sm-inline">Mis Solicitudes</span></h2>
            </a>
          </li>
        </ul>
        <hr>
        <div class="dropdown pb-6">
          <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle"
            id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="https://github.com/mdo.png" alt="hugenerd" width="30" height="30" class="rounded-circle">
            <span class="d-none d-sm-inline mx-1">Usuario</span>
          </a>
          <ul class="dropdown-menu dropdown-menu-dark text-small shadow">
            <li><a class="dropdown-item" href="#">Cerrar Sesion</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col py-3" >
      <img class="img-fluid" src="./assets/images/fondo-content.png" width="100%" height="30" alt="Icon">
    </div>
    
  </div>
</div>