<div class="container col-sm-12 col-md-10">
  <div class="card-header" style="text-align: center; font-weight: bold;">
    <h1 class="title">{{titulo}}</h1>
  </div>
<form [formGroup]="registroUsuariosForm" (ngSubmit)="crear()">
  <div class="row">
      <div class="form-group col-sm-12">
        <label for="inputIdentificacion">Identificacion</label>
        <input type="number" class="form-control" id="inputIdentificacion" placeholder="Identificacion" formControlName="identificacion">
      </div>
      <br><br><br><br>
      <div class="form-group col-sm-6">
        <label for="inputNombre">Nombre</label>
        <input type="text" class="form-control" id="inputNombre" placeholder="Nombre" formControlName="nombre">
      </div>
      <br><br><br><br>

      <div class="form-group col-sm-6">
        <label for="inputSegundoNombre">Segundo Nombre</label>
        <input type="text" class="form-control" id="inputSegundoNombre" placeholder="Segundo Nombre" formControlName="segundo_nombre">
      </div>
      <br><br><br><br>

      <div class="form-group col-sm-6">
        <label for="inputApellido">Apellido</label>
        <input type="text" class="form-control" id="inputApellido" placeholder="Apellido" formControlName="apellido">
      </div>
      <br><br><br><br>

      <div class="form-group col-sm-6">
        <label for="inputSegundoApellido">Segundo Apellido</label>
        <input type="text" class="form-control" id="inputSegundoApellido" placeholder="Segundo Apellido" formControlName="segundo_apellido">
      </div>
      <br><br><br><br>

      <div class="row">
        <div class="form-group col-md-12">
          <label for="inputTipoRol">Tipo Rol</label>
          <select id="inputTipoRol" class="form-control" formControlName="tiporol">
            <option selected>Roles...</option>
            <option value=1>Administrador</option>
            <option value=2>Despachador</option>
          </select>
        </div>
      </div>
      <br>
      <div class="form-group col-sm-6">
        <label for="inputUsuario">Usuario</label>
        <input type="text" class="form-control" id="inputUsuario" placeholder="Usuario" formControlName="usuario">
      </div>
      <div class="form-group col-md-6">
        <label for="inputClave">Contraseña</label>
        <input type="password" class="form-control" id="inputClave" placeholder="Contraseña" formControlName="contraseña">
      </div>
    </div>
    <br>
    <div style="text-align: center;">
      <button type="submit" class="btn btn-registro">Registrarse</button>
    </div>
  </form>
</div>
