.header{
    background-color: #2C7973;
}

.form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}

.full-width {
    width: 100%;
}

.btn-register {
    color: #2C7973;
    background-color: #cccc00;
    font-weight: bold;
}